{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    {% for channel in channels %}
        <div class="text-center col-md-6">
            <h1 style="font-size: 48px"><a href="{{ channel.channelUrl }}" target="_blank">{{ channel.name }} </a></h1>
            <hr style="  border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);">
            <ul class="text-left list-group" style="font-size: 24px">

            {% for video in channel.videos %}
            <a href="{{ video.videoUrl }}" class="list-group-item"><li class="list-group-item" target="_blank"><img src="{{ video.thumbnail }}" alt="{{ video.thumbAltText }}" class="img-thumbnail">
            {{ video.title }}
            </li></a>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}